*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}
body{
    padding:0;
    margin:0;
    position: relative;
    /* overflow:auto; */
    /* overflow-x: hidden; */
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.vertical-center {
    display: flex;
    align-items: center;
}
.t1-bold{
    font-weight:900;
    font-size: 82px;
}
.t2-bold{
    font-weight:900;
    font-size: 42px;
}
.t3-bold{
    font-weight:700;
    font-size: 35px;
}
.t4-bold{
    font-weight:700;
    font-size: 24px;
}
.t6-bold{
    font-weight:400;
    font-size: 20px;
}

@media(max-width:767px){
    .t2-bold{
        font-size: 37px;
        line-height: 35px;
    }
    .t3-bold{
        font-size: 27px;
    }
}
.img-gradient {
    position:relative;
}
  
.img-gradient::after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.7));
}

/* NavBar Transparent */

  .transparent-nav{
    position: absolute;
    left: 0;
    z-index: 5;
    transition: 0.3s;
  }
  .transparent-nav:hover{
    background-color: #fff;
  }
  .transparent-nav:hover .nav-bottom li,
  .transparent-nav:hover .nav-header li a{
    color: #000;
  }
  .transparent-nav:hover .nav-bottom{
    border-top: 1px solid #000;
  }
  .transparent-nav:hover .logo1{
    display: none;
  }
  .transparent-nav:hover .logo2{
    display: inline;
  }
  .logo2{
    display: none;
    transition: 0.3s;
  }
  .logo img {
    width: 70px;
  }
  .nav-header {
    display: flex;
  }
  
  .nav-header ul {
    display: flex;
  }
  
  .nav-header li{
    padding-top: 20px;
    font-size: small;
  }
  .nav-header li a{
    text-decoration: none;
    color: #fff;
  }
  
  .nav-bottom {
    display: flex;
    width: 100%;
    padding-top: 13px;
    float: right;
    border-top: 1px solid #fff;
  }
  .nav-bottom ul {
    display: flex;
    gap: 40px;
  }
  .nav-bottom li {
    list-style-type: none;
    color: #fff;
    font-weight:500;
  }
  .nav-bottom li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #000;
    display: block;
    transition: 0.4s;
  }
  .nav-bottom li:hover:after{
    width: 100%;
  }
  
  
/* The subnavigation menu */

.menu__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 12px 0
}
.menu__items .menu__item:after {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    height: 42px;
    content: ""
}
.menu__items .menu__item.dropdown-expanded:after {
    display: block
}

.menu__items .menu__item.dropdown-expanded .menu-item__dropdown {
    visibility: visible;
    opacity: 1;
    transition-delay: .3s
}
.menu__items .menu__item .menu__link {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.menu__cta, .menu__items .menu__item .menu__link {
    display: none
}
.menu__items .menu__item .menu__link>a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    text-decoration: none;
    transition: color .3s ease,background-size .3s ease-in-out!important
}
.menu__items .menu__item .menu__link>.menu-item__caret {
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex
}
.menu__cta {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center
}
.menu-item__dropdown {
    position: fixed;
    top: 69px;
    left: 0;
    display: none;
    width: 100%;
    height: calc(100% - 69px);
    visibility: hidden;
    opacity: 0
}
.menu-item__dropdown {
    display: block;
    overflow-y: scroll;
    background: #fff;
    border-top: 1px solid hsla(0,0%,60%,.5);
    visibility: visible;
    opacity: 1;
    z-index: 6
}
.menu-item__dropdown-inner {
    display: flex;
    flex-direction: column;
    width: 100%
}
.menu-item__dropdown-nav {
    display: flex;
    flex-direction: column;
    width: 100%
}
.menu-item__dropdown-list--level-1>a,.menu-item__dropdown-list--level-1>button {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400
}
.menu-item__dropdown-list--level-1>a {
    padding-bottom: 4px;
    background-image: linear-gradient(currentColor,currentColor);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 0 1px;
    transition: background-size .3s ease-in-out;
    color: #000;
    font-weight: 500;
    text-decoration: none
}
.menu-item__dropdown-list--level-1>a:focus-visible,.menu-item__dropdown-list--level-1>a:hover {
    background-position: 0 100%;
    background-size: 100% 1px
}
.menu-item__dropdown-list--level-1 button {
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    color: #666;
    cursor: default
}
.menu-item__dropdown-list--level-2>a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 5px;
    background-image: linear-gradient(currentColor,currentColor);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 0 1px;
    transition: background-size .3s ease-in-out;
    color: #000;
    text-decoration: none
}
.menu-item__dropdown-list--level-2>a:focus-visible,.menu-item__dropdown-list--level-2>a:hover {
    background-position: 0 100%;
    background-size: 100% 1px
}


.menu__items a{
    text-decoration: none;
    color: #fff; 
}
#navbar:hover .menu__items a{
    color: #000; 
}
.menu-item__dropdown-list--level-2 a{
    font-weight: 400;
}

.mitd-1,
.mitd-2,
.mitd-3,
.mitd-4,
.mitd-5,
.mitd-6,
.mitd-7{
    display:none
}
/* .mit-1:active .mitd-1{
    display: block;
}
.menu__items li a:hover .mitd-2{
    display:block;
}
.mit-3 a:hover .mitd-3{
    display:block;
}
.mit-4 a:hover .mitd-4{
    display:block;
} */
.menu__item button:hover .mitd-1{
    display: block;
}


/* NavBar Transparent Sticky */
.navbar1{
    background: transparent;
    
}




/* Navbar Sticky */
.navbar{
    z-index:15;
}
.navbar img{
    width:3%;
}
.navbar .btn-request,
.carousel-item .btn-request,
.nav-bottom .btn-request{
    background-color: #b81a0f;
    color: #fff;
    font-size:13px;
    font-weight:600;
    letter-spacing: 2px;
    padding:13px;
    transition:0.3s;
}
.navbar .btn-request:hover,
.carousel-item .btn-request:hover,
.nav-bottom .btn-request:hover{
    background-color: #9c160d;
    color: #fff;
}

.navbar .nav-link{
    color: #000000;
    font-size: 15px;
    margin: 0px 10px;
    font-weight: 500;
}
.navbar li::after{
    content:'';
    width: 0%;
    height: 1px;
    background: #000000;
    display: block;
    transition: 0.4s;
    margin-top: -5px;
    margin-left: 15px;
}
.navbar li:hover:after{
    width: 75%;
}
@media(max-width:767px){
    .navbar img{
        width:15%;
    }

}

/* Carousel 1 */
.carousel-control-prev,
.carousel-control-next{
    align-items: flex-end;
}
.carousel-control-prev-icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.carousel-control-next-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.hero-container{
    z-index: 20;
}
.hero-container,
.hero-container .carousel-item .slide-img{
    height: 100vh;
    width:auto;
    object-fit: cover;
}
.hero-container .overlay-div{
    top:35%;
    left:150px;
}
.hero-container .carousel-item .p1{
    font-size: 20px;
}
.hero-container .carousel-item .t2-bold{
    font-stretch: extra-expanded;
}
@media (max-width:767px){
    .hero-container .overlay-div{
        top:40%;
        left:25px;
    }
    .hero-container .carousel-caption,
    .hero-container .carousel-control-prev,
    .hero-container .carousel-control-next{
        display:none;
    }
    .hero-container .carousel-inner .slide-img{
        width:100%;
    }
}

/* Content 1 */
.content-1 img,
.content-4 img{
    transition: 0.5s;
    cursor: pointer;
}
.content-1 img:hover,
.content-4 .card:hover img{
    transform: scale(1.1);
}

.content-3{
    height:80vh;
    background-image: url(images/bg/4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.content-3 .overlay-div .t1-bold{
    line-height: 70px;
}
.content-3 button{
    color: #fff;
    background-color: #da291c;
    letter-spacing: 3.2px;
}
@media (max-width: 767px) {
    .content-3{
        text-align: center;
        height:65vh;
        background-position: 62% 0%;
        background-size: 300%;
        background-repeat: no-repeat;
        min-height: 65vh; 
    }
    .content-3 h2{
        text-align: center;
    }
}

.content-4 .card{
    transition: 0.5s;
    cursor: pointer;
    background: rgb(0,0,0);
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%),
     url(images/main-content/6.jpg);
    width: 48%;
}
.content-4 .card-img-overlay{
    top:80px;
    left:50px;
    z-index: 2;;
}
.content-4 .card img,
.content-4 .card,
.content-2 img{
    border-radius: 0px 0px 40px 40px;
    cursor:pointer;
}
@media (max-width: 767px) {
    .content-2 img{
        border-radius: 0px 0px 20px 20px;
    }
    .content-4 .card img,
    .content-4 .card{
        height: 37vh;
        width:90%;
        border-radius: 0px 0px 20px 20px;
    }
    .content-4 .card img,
    .content-4 .card-text{
        display:none;
    }
    .content-4 .card{
        background-size: 170%;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-image: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%),
         url(images/main-content/6.jpg);   
    }
    .content-4 .bottom-card{
        background-image: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%), 
         url(images/main-content/7.jpg);   
    }
    .content-4 .card-img-overlay{
        bottom:20px;
        left:20px;
    }
    .content-4-title{
        font-size:13px;
        font-weight: 700;;
    }
}
.content-4 .card a{
    font-size: 13px;
    font-weight: 700;
}
.content-4 .card:hover .content-4.card i{
    translate:0px 10px ;
}
.content-4 .t4-bold{
    font-size: 29px;
    font-weight: 900;
}

.content-6 .t3-bold{
    font-size: 29px;
}
.content-6-title,
.content-5-title{
    color:#706f6f;
    font-weight: 400;
}
.content-6-title::after,
.content-5-title::after,
.content-4-title::after{
    content:'';
    width: 40%;
    height: 1px;
    background: #9a9a9a;
    display: block;
    right:0;
}
.content-6 .btn,
.content-2 .btn,
.content-5 .btn{
    color:#da291c;
}
.content-6 .btn i,
.content-2 .btn i,
.content-5 .btn i{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    border-radius: 100%;
    padding: 2px 5px;
    transition: 0.4s;
}
.content-6 .btn i:hover,
.content-2 .btn i:hover,
.content-5 .btn i:hover{
    translate: 20% 0%;
}
/* Multi Item Carousel */

@media (max-width: 767px) {
    .content-5 .carousel-inner .carousel-item > div {
        display: none;
    }
    .content-5 .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.content-5 .carousel-inner .carousel-item.active,
.content-5 .carousel-inner .carousel-item-next,
.content-5 .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .content-5 .carousel-inner .carousel-item-end.active,
    .content-5 .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .content-5 .carousel-inner .carousel-item-start.active, 
    .content-5 .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.content-5 .carousel-inner .carousel-item-end,
.content-5 .carousel-inner .carousel-item-start { 
    transform: translateX(0);
}
.see-btn{
    border-radius:100%;
    letter-spacing: 5px;
}
.connect-box{
    background-color: rgb(174, 174, 176);
    border-radius: 50px 0px 0px 0px;
    overflow: hidden;
    background-image: url(images/bg/5.jpg);
    background-size: 100% 100%;
    padding:60px;
}

.connect-icon-box i{
    background-color: #393939;
    color: #fff;
    padding:20px;
    text-align: center;
    border-radius: 100%;
    margin-right: 5px;
    font-size: 25px;
}
@media(max-width:767px){
    .connect-box{
        justify-content: center;
        text-align: start;
}
}

footer a:hover{
    color: #da291c;
}
footer li a{
    color:#fff;
    text-decoration: none;
    font-weight:700;
}
footer p{
    font-size: 12.5px;
    color:#fff;
}
footer li .a1{
    font-size: 15px;
}
footer .ul3 .a1{
    font-weight:100;
}